<h1 style="font-family: sans-serif">edit <%= @track.name %></h1>
  <form action="<%=track_url(@track)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= render partial: 'track_form' %>
  <input type="submit" value="Update"></input>
</form>
