<h1 style="font-family: sans-serif">edit your track</h1>
  <form action="<%=track_url(@track)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= render partial: 'form' %>
  <input type="submit" value="Edit"></input>
</form>
