<h1 style="font-family: sans-serif">add a new track</h1>
<form action="http://localhost:3000/tracks" method="POST">
  <%= render partial: 'form' %>

  <input type="submit" value="Create"></input>
</form>

