<h1 style="font-family: sans-serif">add a new track</h1>
<form action="<%= album_tracks_url %>" method="POST">
  <%= render partial: 'track_form' %>

  <input type="submit" value="Create"></input>
</form>

