<h1 style="font-family: sans-serif">Sign up for finetunes</h1>

<form action="<%= users_url %>" method="POST">
  <input name="authenticity_token" type="hidden">
  
  <label for="new_username">Email</label><br>
  <input name="user[email]" type="text" id="new_email"></input><br>

  <label for="user_password">Password</label><br>
  <input type="password" name="user[password]" id="user_password"><br>

  <button type="submit">Sign Up</button>
  
</form>