<h1 style="font-family: sans-serif">edit <%= @album.name %></h1>
  <form action="<%= album_url(@album) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
  <%= render partial: "album_form"%>
  
  <button type="submit">Update</button>
</form>
