<h1 style="font-family: sans-serif">add a new album</h1>

<form action="http://localhost:3000/albums" method="POST">
  <input name="authenticity_token" type="hidden">

  <label for="band">Select band:</label><br>
  <select name="album[band_id]" id="band">
    <% Band.all.each do |band|%>
      <option value='<%=band.id %>' > <%= "#{band.name}" %></option>
    <% end %>
  </select><br><br>
  
  <label for="new_album_name">Name of your album:</label><br>
  <input name="album[name]" type="text" id="new_album_name"></input><br><br>
  
  
  Type of record:<br>
  <input type="radio" name="album[audio]" id="album_audio_studio" value="STUDIO"<%= "checked" if @album.audio == "STUDIO" %>>
  <label for="album_audio_studio">Studio</label><br>
  <input type="radio" name="album[audio]" id="album_audio_live" value="LIVE"<%= "checked" if @album.audio == "LIVE" %>>
  <label for="album_audio_live">Live</label><br><br>
    
  <input type="submit" value="Add"></input>
  
</form>
