<!DOCTYPE html>
<html>
<head>
  <title>MusicAppScaffold</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<img src="http://ww1.prweb.com/prfiles/2009/05/26/850054/finetuneslogorgb600px.jpg"></img>
</body>
</html>
